.upperContainer, .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;  
}
.lowerContainer{
    display: flex;
    flex-wrap: wrap;
}
.options{
    display: flex;
}
.options>div{
    margin-left: 10px;
    font-size: 18px;
}
.items{
    width: 350px;
    border: solid rgb(218, 255, 218) 1.5px;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    background: rgb(255, 253, 250)

}
.items:hover{
    background: rgb(218, 255, 218);
}
.ItemsCount{
    text-align: center;
    text-decoration: overline;
    font-weight: 700;
}
.catalogName{
    font-weight: 700;
    color: dimgray;
}
.mainText{
    font-size: 14px;
}
.mainText>h6{
    text-align: center;
}
.ViewMore, .photo{
    display: flex;
    justify-content: center;
}
.lowerContainer{
    display: flex;
    justify-content: space-around;
}
.image{
    width:60%
}
.fiterSelect{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}
.description{
    display: flex;
    justify-content: flex-start;
    line-height: 0.5;
    margin: 0 15%;
}
.selectionButton{
    margin-right: 1%;
    height: fit-content;
    align-self: center;
}
.spinner{
display: flex;   
justify-content: 'center';
justify-self: center;
color: green;
}